*.iml
.idea
.ipr
.iws
*~
~*
*.diff
*.patch
*.bak
.DS_Store
.project
.*proj
.svn
.buildpath
.settings
.vscode
*.swp
*.swo
*.log
*.log.*
*.json.gzip
Thumbs.db
node_modules
npm-debug.log
nohup.out
yarn.lock
package-lock.json